name: Deploy

on:
  push:
    branches:
      - ecr

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      AWS_REGION: ap-southeast-1

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

 # ✅ STEP 1 — Create only infra (ECR + VPC + Cluster)
      - name: Terraform Apply Infra Only
        run: |
          terraform apply \
            -target=module.vpc \
            -target=module.ecs.aws_ecr_repository \
            -target=module.ecs.aws_ecs_cluster \
            -auto-approve


#      - name: Terraform Apply
#        run: terraform apply -auto-approve

      - name: Get ECR Repository URL
        run: echo "ECR_REPO=$(terraform output -raw ecr_repository_url)" >> $GITHUB_ENV

      - name: Login to ECR
        uses: aws-actions/amazon-ecr-login@v2

#      - name: Build and Push Docker Image
#        run: |
#          docker build -t $ECR_REPO:latest .
#          docker push $ECR_REPO:latest

# ✅ STEP 4 — Build & Push Docker Image
      - name: Build and Push Docker Image
        run: |
          docker build -t $ECR_REPO:latest .
          docker push $ECR_REPO:latest

# ✅ STEP 5 — Create Task Definition + Service
      - name: Terraform Apply Full
        run: terraform apply -auto-approve -var="image=$IMAGE_URI"            